/* Dies ist das...*/

/* Import der Schriftart */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Variablendeklarationen wie zB. die Farbgebung der Seite */

:root{
    --color-primary: #42a5f5;
    --color-secondary: #819ca9;
    --color-font-dark: #263238;
    --color-background: #f5f5f5;
    --color-shadow: rgba(0, 0, 0, 0.2);
    --color-button: #555555;
}

/* Haupfenster und gewöhnliche HTML-Elemente */
html, body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

td {
    padding-right: 2em;
    text-align: end;
}

form{
    display: flex;
    flex-direction: row;
    height: 3.6em;
    align-items: center;
    width: 100%;
    margin-top: 13.3em;
}

#main{
    box-shadow: 0 4px 8px 0 var(--color-shadow), 0 6px 20px 0 var(--color-shadow);
    height: 100%;
    background: var(--color-background);
    margin: 3em;
}

.index{ /* überschreibt Werte der normalen Main ID, für die index-Seite */
    height: 60% !important;
    margin: 10% auto auto auto !important;
    width: 60% !important;
}



/* Schmaler Bildschirm kein Rand */
@media only screen and (max-width: 900px) {
    #main {
        margin: unset;
    }
}



/* Eingabeelemente */

.button{
    background-color: var(--color-button);
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
}

.button:hover{
    box-shadow: 0 4px 8px 0 var(--color-shadow), 0 6px 20px 0 var(--color-shadow);
}

.text-field{
    width: 16em;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 12%;
    font-size: 1.2em;
}


/* Kopfbereich der Webseite */

#header{
    border-bottom: 2.5px solid var(--color-secondary);
    height: 15em;
    background: var(--color-primary);
    display: flex;
    flex-direction: row-reverse;
}

#header>span{
    margin: auto 4em 0 auto;
    font-size: 3.5em;
    font-weight: 700;
    color: var(--color-font-dark);
}

/* Kleines Avatarbild des Benutzers */

#avatar{
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 var(--color-shadow), 0 6px 20px 0 var(--color-shadow);
    height: 150px;
    width: auto;
    position: relative;
    margin-top: 10em;
    margin-left: 7.5em;
}

/* Basis-Informationen */

#basic-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 7em;
}

#basic-info-box-left{
    display: flex;
    flex-direction: column;
    margin-left: 6em;
    font-size: 1.3em;
}

#bio{
    max-width: 13.7em;
}

#basic-info-box-right{
    margin-left: auto;
    margin-right: 8em;
    font-size: 1.7em;
}

/* Datenvisualisierung */

/* Lade-Animation */
#loading-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10em;
    align-items: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid var(--color-font-dark);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--color-font-dark) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}